/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 320px) and (max-width: 767px) {
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  /* @media (min-width: 320px) and (max-width: 480px) { */
  /* font-family = Karma with different font sizes */

  .k70 {
    font-size: 36px;
  }

  .k60 {
    font-size: 32px;
  }

  .k50 {
    font-size: 28px;
  }

  .k45 {
    font-size: 27px;
  }

  .k43 {
    font-size: 26.5px;
  }

  .k40 {
    font-size: 25px;
  }

  .k35 {
    font-size: 22px;
  }

  .k32 {
    font-size: 19px;
  }

  .k18 {
    font-size: 16px;
  }

  /* font-family = Halant with different font sizes */

  .h16 {
    font-size: 16px !important;
  }

  .h18 {
    font-size: 16px !important;
  }

  .h20 {
    font-size: 14px;
  }

  .h21 {
    font-size: 15px;
  }

  .h22 {
    font-size: 16px;
  }

  .h24 {
    font-size: 17px;
  }

  .h26 {
    font-size: 18px;
  }

  .h28 {
    font-size: 19px;
  }

  .h30 {
    font-size: 20px;
  }

  .h35 {
    font-size: 24px;
  }

  .h40 {
    font-size: 25px;
  }

  .h45 {
    font-size: 28px;
  }

  .h50 {
    font-size: 30px;
  }

  .h60 {
    font-size: 32px;
  }

  /* font-family = 'Roboto', sans-serif with different font sizes */

  .s10 {
    font-size: 10px;
  }

  .s12 {
    font-size: 10px;
  }

  .s16 {
    font-size: 14px;
  }

  .s18 {
    font-size: 16px !important;
  }

  .s20 {
    font-size: 17px;
  }

  .s23 {
    font-size: 19px;
  }

  .s30 {
    font-size: 23px;
  }

  /* line height  */

  .p-0 {
    padding: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .pl-0 {
    padding-left: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pr-0 {
    padding-right: 0;
  }

  /* margin bottom */

  .mb-0 {
    margin-bottom: 0%;
  }
  .mb-3 {
    margin-bottom: 8%;
  }

  .mb-4 {
    margin-bottom: 9%;
  }

  .mb-5 {
    margin-bottom: 10%;
  }

  .mb-6 {
    margin-bottom: 11%;
  }

  .mb-7 {
    margin-bottom: 12%;
  }

  .mb-8 {
    margin-bottom: 13%;
  }

  .mb-9 {
    margin-bottom: 14%;
  }

  .mb-10 {
    margin-bottom: 15%;
  }

  .mb-15 {
    margin-bottom: 20%;
  }

  .mb-18 {
    margin-bottom: 23%;
  }

  .mb-20 {
    margin-bottom: 25%;
  }

  /* morgin-top */

  .mt-3 {
    margin-top: 8%;
  }

  .mt-4 {
    margin-top: 9% !important;
  }

  .mt-5 {
    margin-top: 10%;
  }

  .mt-505 {
    margin-top: 10.5%;
  }

  .mt-6 {
    margin-top: 11%;
  }

  .mt-7 {
    margin-top: 12%;
  }

  .mt-8 {
    margin-top: 13%;
  }

  .mt-9 {
    margin-top: 14%;
  }

  .mt-10 {
    margin-top: 15%;
  }

  .mt-13 {
    margin-top: 18%;
  }

  .mt-15 {
    margin-top: 20%;
  }

  .mt-18 {
    margin-top: 23%;
  }

  .mt-20 {
    margin-top: 25%;
  }
}
