.team-tagline-layout2 {
  margin: 0;
  visibility: visible;
  font-weight: 900;
  font-family: "Karma";
  font-size: 22px;
  text-align: left;
  line-height: 1.4;
  color: #979797;
}
.team-intro-layout6 {
  font-size: 21px;
  letter-spacing: 1;
  font-family: "Karma";
  text-align: left;
  color: #000000;
}
.team-tagline-layout1 {
  margin: 0;
  visibility: visible;
  font-weight: 900;
  font-family: "Karma";
  font-size: 42px;
  text-align: left;
  line-height: 1.4;
  color: #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-teamacess {
    display: None;
  }
}

/* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
      */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-teamacess {
    display: None;
  }
}

/* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
      */

@media (min-width: 481px) and (max-width: 767px) {
  .about-teamacess {
    display: None;
  }
}

/* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
      */

@media (min-width: 320px) and (max-width: 480px) {
  .about-teamacess {
    display: None;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
