.sign-up-button {
    background-color: #070B24 !important;
    min-width: 590px;
    width: auto;
    height: 65px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-style: normal
}

.dropdown-wrapper {
    width: auto; 
    min-width: 590px;
    height: 55px;
    background: rgba(112, 115, 128, 0.08);
    border-radius: 10px;
    padding: 10px 0px;
}
