.bg-img {
  height: 100vh;
  width: 100vw;
}

.community-bg-img {
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
}

.coming-soon-head {
  position: absolute;
  top: 100px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.image-block {
  position: relative;
  top: -100px;
  z-index: -1;
}
