.bg-img {
  height: 100%;
  width: 100vw;
}

#email1 {
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.community-bg-img {
  height: 100%;
  width: 100vw;
  opacity: 0.15;
}

.coming-soon-head {
  z-index: 1;
  height: 200px;
  margin-top: 200px;
}

.community-image-block {
  position: relative;
  top: -450px;
  z-index: -1;
}

.image-block {
  position: relative;
  top: -400px;
  z-index: -1;
}

@media (max-width: 767px) {
  .coming-soon-head {
    margin-top: 100px;
  }

  .image-block,
  .community-image-block {
    top: -300px;
  }
}
