.scroll{
    display: flex;
    overflow-x:auto;
    
    }
    .scrollmenu {
    margin-right: 20px;
    }
    .scrollmenu:hover{
    }
    .scroll::-webkit-scrollbar{
        display: none;
    }
    .image{
        height: 300px;   
    }
    .image .res {
        object-fit: contain;
    }
    .res{
        width: 100%;
        height: 90%;
    }
    .card-image{
        width: 290px;
        height: 360px;
        object-fit: contain;
        border-radius: 10px;
    }
    .title-text{
        color:rgba(0, 0, 0, 1);
        font-family:Lato;
        text-align:center;
        font-size:25px;
        letter-spacing:0;
        padding: 20px 0px;
    
    }
    .admin-bar{
        align-items: center;
        text-align: center;
    }