.team-btn-text {
  font-family: "Roboto", sans-serif !important;
  font-size: 23px !important;
  border-radius: 8px !important;
  padding: 3px 19px !important;
}

.TeamAccess-page .input_field,
.TeamAccess-page .input-text-area {
  background-color: rgba(236, 236, 236, 0.04) !important;
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
  font-family: "Halant" !important;
  font-size: 19px !important;
  font-weight: 600;
  padding: 25px 18px;
}

.organization-img {
  max-width: 250px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-teamacess {
    display: None;
  }

  .organization-img {
    max-width: 225px !important;
  }
}

/* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
      */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-teamacess {
    display: None;
  }
}

/* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
      */

@media (min-width: 481px) and (max-width: 767px) {
  .about-teamacess {
    display: None;
  }

  .organization-img {
    max-width: 210px !important;
  }
}

/* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
      */

@media (min-width: 320px) and (max-width: 480px) {
  .about-teamacess {
    display: None;
  }

  .organization-img {
    max-width: 200px !important;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
