.book-img {
  max-width: 400px !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .book-img {
    max-width: 350px !important;
    margin-top: 10%;
  }
}

@media (max-width: 900px) {
  .book-img {
    width: 325px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .book-img {
    width: 300px !important;
    margin-top: 0%;
  }
}
