.mb-18 {
  padding-bottom: 10%;
}

.layout2 {
  margin-top: 7%;
}
.mt-5 {
  margin-top: 5%;
}

.mt-3 {
  margin-top: 3%;
}

.pt-10 {
  padding-top: 10%;
}

.book-btn-text {
  font-size: 23px !important;
  font-family: sans-serif;
  color: #fff;
  line-height: 122% !important;
  font-weight: 400;
}
