.box {
  margin: auto;
}
.layout1 {
  padding-bottom: 18%;
}
.layout2 {
  margin-top: 10%;
}
.layout3 {
  margin-top: 5%;
}

.layout4 {
  margin-top: 3%;
}

.header-text {
  margin-top: 15%;
  animation-delay: 0.1s;
  -webkit-animation: fadeInUp 1500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 1500ms ease-in-out;
}

.text-layout1 {
  padding-bottom: 10px;
}
.tagline-layout1 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 40px;
  text-align: left;
  line-height: 1.4;
  color: #000;
}

.intro-layout1 {
  font-size: 16px;
  font-family: "Halant";
  text-align: left;
  color: #000000;
}
.intro-layout2 {
  text-align: left;
  font-family: "Halant";
  font-size: 22px;
  letter-spacing: 0;
  line-height: px;
}
.intro-layout3 {
  text-align: left;
  font-family: "Halant";
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
  font-weight: bolder;
}

/* ---------------------------------- styles for 2nd page  ------------------------------------*/
.imghead {
  font-family: "Karma";
  font-size: 44px;
  letter-spacing: 0px;
  font-weight: bolder;
  position: relative;
  bottom: -60px;
}
.gray-text {
  color: #757780;
}

.main-img {
  width: auto;
  height: auto;
}
/* ---------------------------------- styles for listen now page  ------------------------------------*/

.story-head {
  width: 60%;
}

.tagline-layout7 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 56px;
  text-align: center;
  color: #000;
}

.story-title {
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: bold;
  color: #000;
  display: block;
}

.story-catagory {
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 500;
  color: #979797;
  vertical-align: bottom;
}

#story-text {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: #000;
}

/* width */
#story-text::-webkit-scrollbar {
  width: 4px;
  background-color: #c4c4c4;
}

/* Track */
#story-text::-webkit-scrollbar-track {
  background-color: #ffffff;
}

#story-text::-webkit-scrollbar-thumb {
  height: 26px;
}

/* Handle on hover */
#story-text::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}

.story-img {
  text-align: center;
}

.audio-controls {
  display: block;
  position: relative;
  top: -18px;
}

.audio-btn {
  opacity: 1;
}

.audio-btn:hover {
  animation-name: mouse-hover;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.back-btn:hover {
  animation-name: mouse-hover;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.forward-btn:hover {
  animation-name: mouse-hover;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes mouse-hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.section-box {
  background-color: #000000;
  border-radius: 50px;
  padding: 10%;
}
.section-box-h1 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 36px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}
.section-box-p {
  margin: 0;
  visibility: visible;
  font-family: "Halant";
  font-size: 19px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}
.section-box-white {
  border-radius: 50px;
  padding: 10%;
}

.section-box-h1-black {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 36px;
  text-align: left;
  line-height: 1.4;
}
.section-box-p-black {
  margin: 0;
  visibility: visible;
  font-family: "Halant";
  font-size: 19px;
  text-align: left;
  line-height: 1.4;
}
.intro-layout4 {
  text-align: left;
  font-family: "Halant";
  font-size: 22px;
  letter-spacing: 0;
  line-height: px;
  font-weight: 900;
  color: #000;
}
.tagline-layout3 {
  margin: 0;
  visibility: visible;
  font-weight: 500;
  font-family: "Karma";
  font-size: 48px;
  text-align: left;
}
.tagline-layout4 {
  margin: 0;
  visibility: visible;
  font-weight: 900;
  font-family: "Karma";
  font-size: 48px;
  text-align: left;
}
.img-storytelling {
  position: relative;
  top: -30px;
  left: 0px;
}

.div-box-h1 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 30px;
  padding: 0px 10px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}
.div-box {
  border-radius: 50px;
  padding: 3%;
  margin: 10px;
  background-color: #000000;
}
.div-box-p {
  margin: 0;
  visibility: visible;
  font-family: "Halant";
  font-size: 19px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 1;
  padding: 10px 8px;
}
.box-p {
  font-family: "Halant";
  font-size: 22px;
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: 1;
  padding: 5%;
  text-align: center;
}
.black-box {
  background-color: #000000;
}
.tagline-layout5 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 52px;
  text-align: left;
  line-height: 1.4;
  color: #000;
}
.intro-layout5 {
  text-align: left;
  font-family: "Halant";
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
  color: #000;
}
.community-img {
  position: relative;
  top: -60px;
  right: 60px;
}
.tagline-layout6 {
  margin: 0;
  visibility: visible;
  font-weight: 600;
  font-family: "Karma";
  font-size: 52px;
  text-align: center;
  line-height: 1.4;
  color: #000;
  letter-spacing: 1.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tagline-layout1 .intro-layout1 {
    margin: 20px;
  }
  .community-img {
    position: relative;
    top: 0px;
    right: 00px;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .tagline-layout1 .intro-layout1 {
    padding: 20px;
  }
  .div-box {
    border-radius: 50px;
    padding: 8%;
    margin: 10px;
    background-color: #000000;
  }
  .community-img {
    position: relative;
    top: 00px;
    right: 00px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .layout1 {
    height: 500px;
  }
  .tagline-layout1 .intro-layout1 {
    margin: 20px;
  }
  .res-box {
    padding: 10%;
  }
  .img-storytelling {
    position: relative;
    top: -30px;
    left: 0px;
  }
  .div-box {
    border-radius: 50px;
    padding: 8%;
    margin: 10px;
    background-color: #000000;
  }
  .community-img {
    position: relative;
    top: -20px;
    right: 00px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .layout1 {
    height: 500px;
  }
  .tagline-layout1 .intro-layout1 {
    margin: 20px;
  }
  .header-text {
    padding: 0px 20px;
  }
  .img-storytelling {
    position: relative;
    top: -30px;
    left: 0px;
  }
  .res-box {
    padding: 10%;
  }
  .div-box {
    border-radius: 50px;
    padding: 8%;
    margin: 10px;
    background-color: #000000;
  }
  .community-img {
    position: relative;
    top: -20px;
    right: 00px;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
