/* stle for main page  */
.header-text-animation {
  animation-delay: 1s;
  -webkit-animation: fadeInUp 0s ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 1.5s ease-in-out;
}

.page-2-text {
  position: relative;
  bottom: -70px;
}

/* ---------------------------------- styles for listen now page  ------------------------------------*/

#story-text {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: #000;
}

.back-btn,
.forward-btn {
  width: 35px;
  height: 35px;
}

.audio-btn {
  width: 54px;
  height: 52.2px;
}

/* width */
#story-text::-webkit-scrollbar {
  width: 4px;
  background-color: #c4c4c4;
}

/* Track */
#story-text::-webkit-scrollbar-track {
  background-color: #ffffff;
}

#story-text::-webkit-scrollbar-thumb {
  height: 26px;
}

/* Handle on hover */
#story-text::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}

.story-categary .rounded {
  border-radius: 6px !important;
}

.modal-img {
  border-radius: 8px !important;
  width: 90px;
  height: 57px;
}

.audio-btn {
  opacity: 1;
}

.audio-btn:hover,
.back-btn:hover,
.forward-btn:hover {
  animation-name: mouse-hover;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes mouse-hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

.plusImg {
  width: 35%;
}

.section-box {
  background-color: #000000;
  border-radius: 50px;
  padding: 8% 5%;
}

.section-box-mini {
  background-color: #000000;
  border-radius: 50px;
  padding: 3%;
  margin-bottom: 6% !important;
}

.section-box-white {
  border-radius: 50px;
  padding: 8% 5%;
}

.black-box {
  background-color: #000000;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-dialog {
  margin-top: 25vh !important;
  margin-left: auto !important;
  width: 65vw !important;
  height: 100% !important;
  max-width: 1100px !important;
}

.modal-content {
  border-width: 2px !important;
  border-color: #4b4a4a !important;
  border-style: outset !important;
  border-radius: 15px !important;
}

.modal-header {
  padding: 2px !important ;
  border-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.close-btn {
  background-color: #ffffff !important;
  border: none !important;
  cursor: pointer !important;
}

.image1 {
  background-image: url("../../assets/HomePageAssets/home-page-background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.modal-header-div {
  padding: 0px 40px 0px 10px !important;
}

.modal .btn-lg {
  padding: 0px 8px 0px 0px !important;
  margin: 0px !important;
  font-size: 30px !important;
  line-height: 130%;
}

.audio-controls {
  width: fit-content !important;
}

.modal-pen-icon img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .modal-img {
    width: 75%;
    height: 75%;
  }

  .modal-header-div {
    padding: 0px 1px 0px 1px !important;
  }

  .modal-pen-icon img {
    width: 35px;
    height: 35px;
  }

  .modal-dialog {
    margin-top: 15vh !important;
  }
}

@media (max-width: 991px) {
  .home-page-1 .col-6 {
    flex: 0 0 90% !important;
    width: 90% !important;
    max-width: 90% !important;
  }

  .page-2-text {
    bottom: -40px;
  }

  .plusImg {
    max-width: 50px !important;
    max-height: 50px !important;
  }

  .home-page-3-img,
  .img-storytelling {
    max-width: 210px !important;
    max-height: 210px;
  }

  .home-page-5 img {
    max-width: 150px;
    max-height: 150px;
  }

  .image1 {
    height: 700px;
  }

  .home-page-2 .text-right {
    text-align: center !important;
  }

  .section-box,
  .section-box-white {
    padding: 12% 8%;
  }

  .modal-pen-icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .image1 {
    height: 600px;
  }

  .back-btn,
  .forward-btn {
    width: 35px;
    height: 35px;
  }

  .audio-btn {
    width: 50px;
    height: 48px;
  }

  .section-box-white {
    background-color: #eeeeee;
  }

  .modal-dialog {
    margin-top: 5vh !important;
  }

  .audio-controls {
    width: 90% !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (max-width: 585px) {
  .home-page-3-img,
  .img-storytelling {
    max-width: 170px !important;
    max-height: 170px;
  }

  .home-page-5 img {
    max-width: 110px;
    max-height: 110px;
  }

  .modal-dialog {
    margin-top: 5vh !important;
    margin-left: 15vw !important;
  }

  .model-header {
    margin-top: 10%;
  }

  .story-categary {
    margin-top: 0px !important;
  }

  .home-page-5 .lh150 {
    line-height: 120%;
  }

  .vertical-center {
    vertical-align: bottom !important;
  }

  .modal-pen-icon img {
    width: 30px;
    height: 30px;
  }
}
