/* stle for main page  */
.main-page {
  background-image: url("../../assets/HomePageAssets/home-page-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.main-page-img {
  position: absolute;
}

.main-page-header {
  width: 100%;
}

.header-text-animation {
  animation-delay: 1s;
  -webkit-animation: fadeInUp 0s ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 1.5s ease-in-out;
}

.page-2-text {
  position: relative;
  bottom: -80px;
}

/* ---------------------------------- styles for listen now page  ------------------------------------*/

#story-text {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: #000;
}

/* width */
#story-text::-webkit-scrollbar {
  width: 4px;
  background-color: #c4c4c4;
}

/* Track */
#story-text::-webkit-scrollbar-track {
  background-color: #ffffff;
}

#story-text::-webkit-scrollbar-thumb {
  height: 26px;
}

/* Handle on hover */
#story-text::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}

.story-categary .rounded {
  border-radius: 6px !important;
}

.model-header2 img,
.modal-content {
  border-radius: 8px !important;
}

.audio-btn {
  opacity: 1;
}

.audio-btn:hover,
.back-btn:hover,
.forward-btn:hover {
  animation-name: mouse-hover;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes mouse-hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

.plusImg {
  width: 35%;
}

.section-box {
  background-color: #000000;
  border-radius: 50px;
  padding: 8% 5%;
}

.section-box-mini {
  background-color: #000000;
  border-radius: 50px;
  padding: 3%;
  margin-bottom: 6% !important;
}

.section-box-white {
  border-radius: 50px;
  padding: 8% 5%;
}

.black-box {
  background-color: #000000;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-dialog {
  margin-top: 35vh !important;
  margin-left: auto !important;
  width: 65vw !important;
  max-width: 1100px !important;
}

.modal-content {
  box-shadow: 4px 7px 0px #e59d53;
}

.modal-header {
  border-bottom: 0px !important;
  font-size: 30px !important;
  font-family: sans-serif !important;
  padding-bottom: 0px !important;
}

.close-btn {
  background-color: #ffffff !important;
  border: none !important;
  cursor: pointer !important;
}
