.Nav-text {
  color: black;
  font-size: 18px;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  width: max-content !important;
}
.Nav-text:hover {
  color: #f57c00 !important;
}

.nav-link {
  color: #000 !important;
}

.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  color: #f57c00;
}

@media (min-width: 481px) and (max-width: 991px) {
  .my-navbar .d-flex {
    flex-direction: column !important;
    margin-bottom: 8px;
  }

  .navbar {
    z-index: 1;
    background-color: #fff;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .my-navbar .d-flex {
    flex-direction: column !important;
    margin-bottom: 8px;
  }

  .navbar {
    z-index: 1;
    background-color: #fff;
  }
}
