.Nav-text {
  color: black !important;
  font-size: 18px !important;
  font-family: "Roboto";
  font-weight: 400 !important;
  padding: 10px 15px !important;
  width: max-content !important;
  background-color: #fff !important;
  border-style: none !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.Nav-text:hover {
  color: #f57c00 !important;
}

.Nav-text .text-black:hover {
  color: #f57c00 !important;
}

.nav-link {
  color: #000 !important;
}

.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover {
  color: #f57c00;
}

.TopNav {
  z-index: 1000 !important;
}

.navbar-nav {
  background-color: #fff;
}

.dropdown-menu.show {
  padding: 10px;
}

@media (max-width: 1200px) {
  .Nav-text {
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
  }

  .dropdown .nav-link {
    padding: 0px !important;
  }

  .dropdown-menu {
    margin-top: 10px !important;
  }
}
