.d-table {
  display: table;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.image-padding-right {
  padding-right: 4%;
}

.image-padding-left {
  padding-left: 4%;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .about-page img {
    max-width: 200px !important;
    max-height: 200px !important;
    margin-top: 10%;
  }

  .about-page .penImg {
    max-width: 150px !important;
    max-height: 150px !important;
  }

  .about-page .houseImg {
    max-width: 280px !important;
    max-height: 280px !important;
  }
}
